/* ==토글 탭 디자인 */
.tabs-basic > li {
    width: 25%;
    text-align: center;
}
.tabs-basic > li > a{
color: #555;
margin-right: 0px;

}

.tabs-basic > li > a:hover {

    background-color: #dddddd;
}

/* ==토글 탭 디자인== */

.tabs-style {
    margin: 0 auto;
    float: none;

}

/* 선택되어있는 a */
.tabs-style li.active a,
.tabs-style li.active a:hover,
.tabs-style li.active a:active,
.tabs-style li.active a:focus{
    background-color: #56707d;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin: 0;

}

.tabs-style li > a {

    background-color: #607d8b;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin: 0;
}
.tabs-style li > a:hover {

    background-color: #56707d;
}